*{
	margin : 0;
	padding: 0;
	
}
img{
	vertical-align:center;
}
a{
	text-decoration:none;
	color:#333;
	font-size:12px;
}
a:link, a:visited {
    text-decoration: none;
}
li{
	list-style:none;
}
html,body{
	width:100%;
}
/*header*/
#header{
	width:100%;
	height:130px;
	background:#f8e3df;	
}
#header .headertop{
	width:1180px;
	line-height:34px;
	background:#f8e3df;
	margin:0 auto;
}
#header .htleft{
	display:inline-block;
}
#header .htleft a{
	display:inline-block;
	margin:0 10px;
}
#header .htright{
	text-align:center;
	float:right;
}
#header .htright li{
	width:68px;
	font-size:12px;
	margin:0 10px;
	font-weight:normal;
	float:left;
}
#header .htright>li:nth-child(odd):hover{
	background:#fff;
	box-sizing:border-box;
	border:1px solid red;
}
#header .htright>li:nth-child(1){
	padding-left: 10px;
	background : url("../img/header_box.png") no-repeat left center,
	url('http://img.zbird.cn/ww3/pubheaderfooter/icon_drop.png') no-repeat right center ;
}
#header .htright>li:nth-child(1):hover{
	box-sizing:border-box;
	padding-left: 10px;
	background : url("../img/header_box.png") no-repeat left center,
	url('http://img.zbird.cn/ww3/pubheaderfooter/icon_drop.png') no-repeat right center;
}
#header .htright>li:nth-child(3){
	height:34px;
	background :url('http://img.zbird.cn/ww3/pubheaderfooter/icon_drop.png') no-repeat right center ;
}
#header .htright>li:hover ul,#header .htright>li:hover img{
	display:block;
}
#header .htright .niaochao,#header .htright img {
	display:none;
}
#header .htright .niaochao{
	position:relative;
	overflow:hidden;
	background:#fff;
}
#header .htright .wxtp{
	position:absolute;
}
#header .htright .niaochao li{
	margin:0;
}
#header .htright .wxtp img{
	margin-left:-166px;
}
#header .hmouter{
	width:100%;
	overflow:hidden;
	background:#fbf2f1;
}
#header .headermiddle{
	width:1185px;
	height:96px;
	background:#fbf2f1;
	margin:0 auto;
}
#header .headermiddle div{
	text-align:center;
	display:inline-block;
	float:left;
}
#header .headermiddle .zbird{
	margin-top:30px;
}
#header .headermiddle .zbirdwz{
	margin:41px 0 0 30px;
}
#header .headermiddle .hmright{
	margin-top:30px;
	float:right;
}
#header .headermiddle input{
	height:32px;
	border:none;
}
#header .headermiddle .hmsearch{
	border:none;
	background:#FFF;
}
#header .headermiddle span{
	display:inline-block;
	border:1px solid #ccc;
}
#header .headermiddle .yuyue{
	margin-left:10px;
	width:96px;
	height:32px;
	border:none;
	line-height:32px;
	background:pink;
}

/*nav部分*/
#nav{
	width:100%;
	height:33px;
	border:none;
	background:#909090;
}
#nav .navleft{
	display:inline-block;
}
#nav a:hover{
	background:#fdb2a4;
}
#nav .navleft a{
	height:33px;
	line-height:33px;
	display:inline-block;
	width:100px;
	text-align:center;
	color: #fff!important;
    letter-spacing: 1px;
}
#nav .navleft a:nth-child(1){
	background:#fdb2a4;
	margin-left:35px;
}
#nav .navright{
	float:right;
	margin-right:35px;
}
#nav .navright li{
	float:left;
}
#nav .navright li a{
	height:33px;
	line-height:33px;
	display:inline-block;
	width:100px;
	text-align:center;
	color: #fff!important;
    letter-spacing: 1px;
}
#navbottom{
	z-index:1;
	width:100%;
	background:#fff;
	position:relative;
}
#navbottom>div{
	width:100%;
	display:none;
	position:absolute;
	background:#fff;
}
#navbottom >div>h3{
	font-weight:normal;
	margin:10px 0 0 60px;
}
#navbottom>div>p{
	margin:8px 0 0 60px;
}
.navbtcon>li{
	margin:5px 60px;
	float:left;
}
.navbtcon>li>img{
	width:550px;
	height:260px;
	margin-top:-30px;
}
.navbtcon p{
	margin-top:10px;
}
/*nav结束*/

/*轮播图*/
#lunbo{
	width:100%;
	height:600px;
	overflow:hidden;
	position:relative;
}
#lunbo span{
	display:inline-block;
	width:30px;
	font-size:30px;
	color:#fff;
	height:90px;
	background:rgba(0,0,0,.5);
	cursor:pointer;
	text-align:center;
	z-index:99;
	position:absolute;
	padding-top:40px;
}
#lunbo .leftbt{
	left:20px;
	top:230px;
}
#lunbo .rightbt{
	right:20px;
	top:230px;
}
#lunbo img{
	position:absolute;
	margin-left:-300px;
	height:600px;
	overflow:hidden;
}
#lunbo ul{
	position:absolute;
	left:45%;
	bottom:30px;
	overflow:hidden;
	/*background:pink;*/
	z-index:2;
}
#lunbo li{
	float:left;
	width:15px;
	height:15px;
	margin-right:10px;
	background:rgba(0,0,0,.7);
	border-radius:50%;
}
#lunbo .on{
	background:pink;
}


/*small banner 开始*/
#banner{
	width:1185px;
	height:498px;
	background:#fff;
	margin:20px auto;
}
#banner>div{
	width:520px;
	height:442px;
	display:inline-block;
	margin:20px;
	padding-left:30px;
}
#banner .bannerleft{
	overflow:hidden;
	position:relative;
	background:rgb(247,247,247);
}
#banner .bannerleft>h3{
	font-weight:lighter;
	font-size:24px;
	margin:46px 0 27px;
	font-family:"宋体";
	text-align:center;
	letter-spacing:5px;
}
#banner .bannerleft>ul{
	width:320px;
	height:190px;
	position:relative;
	left:50%;top:10px;
	transform:translateX(-50%);
}
#banner .bannerleft>ul img{
	position:absolute;
}
#banner .bannerleft>div{
	position:absolute;
	width:100%;
	height:100px;
	top:300px;
	text-align:center;
}
#banner .bannerleft a {
	display:block;
	width:207px;
	height:32px;
	line-height:32px;
	background:rgba(246,130,122);
	color:#fff;
	margin:20px auto;
}
#banner .bannerleft a:hover{
	opacity:.7;
}
#banner .bannerright{
	margin:0 0 20px;
}


/*系列产品开始*/
#seriesProduct{
	width:1185px;
	height:auto;
	background:#fff;
	margin:0 auto;
	position:relative;
	/*overflow:hidden;*/
}
.spouter{
	height:881px;
	overflow:hidden;
}
#seriesProduct>h2{
	font-weight:lighter;
	font-size:24px;
	padding:10px 0 46px;
	font-family:"宋体";
	text-align:center;
	letter-spacing:5px;
}
#seriesProduct>.spheader{
	width:1185px;
	margin:0 auto;
	height:40px;
	line-height:40px;
	background:rgb(254,184,174);
} 
#seriesProduct>.spheader>div{
	width:540px;
	margin:0 auto;
}
#seriesProduct>.spheader a{
	display:inline-block;
	width:100px;
	text-align:center;
	color:#fff;
	cursor:pointer;
}
#seriesProduct>.spheader a:hover{
	color:#000;
}
#seriesProduct .spbody{
	width:100%;
	overflow:hidden;
	display:block;
	height:auto;
	position:absolute;
	display:none;
}
#seriesProduct>div{
	margin:20px auto;
}
#seriesProduct .spbleft{
	width:700px;
	height:700px;
	float:left;
	overflow:hidden;
}
#seriesProduct .spbleft>img:nth-child(2){
	margin-top:11px;
}

#seriesProduct .spbright{
	right:0;
	float:right;
	overflow:hidden;
}
#seriesProduct .spbright img{
	width:464px;
	height:696px;
}

/*全球推荐，婚戒推荐*/
.recouter{
	width:100%;
	overflow:hidden;
	margin :20px auto;
}
#recommend{
	width:1183px;
	height:300px;
	background:#fff;
	margin:0 auto;
	position:relative;
}
#recommend span{
	display:inline-block;
	width:30px;
	font-size:50px;
	color:#ccc;
	height:90px;
	/*background:rgba(0,0,0,.5);*/
	cursor:pointer;
	text-align:center;
	z-index:99;
	position:absolute;
	padding-top:40px;
	top:60px;
}
#recommend .recleft{
		left:0px;
}
#recommend .recright{
		right:0px;
}
#recommend>h2{
	font-weight:lighter;
	font-size:24px;
	padding:10px 0 46px;
	font-family:"宋体";
	text-align:center;
	letter-spacing:5px;
}
#recommend .visiable{
	width:1096px;
	margin:0 auto;
	height:193px;
	overflow:hidden;
	position:relative;
}
#recommend ul{
	width:2192px;
	position:absolute;
}
#recommend ul li{
	width:274px;
	height:193px;
	float:left;
}
#recommend ul li:hover img{
	transform:translateY(-20px);
	transition:all 1s linear;
}
#recommend ul li img{
	width:240px;
	height:193px;
	display:block;
	margin:0 auto;
}
/*drshape 开始*/
.shapeouter{
	width:100%;
	height:177px;
	background:#f5f5f5;
	/*overflow:hidden;*/
}
#drshape{
	width:900px;
	height:177px;
	/*background:skyblue;*/
	margin:0 auto;
	display:flex;
	justify-content:space-around;
	align-items:center;
}
#drshape a{
	display:block;
	float:left;
	width:104px;
	height:77px;
	text-align:center;
}
#drshape a:hover i{
	background-position-y:-49px;
}
#drshape a i{
	display:block;
	width:104px;
	height:49px;
	background:url("../img/icon_shape.jpg") left top;
	margin-bottom:10px;
}

/*品牌故事开始*/
.story{
	width:100%;
	overflow:hidden;
}
#story{
	width:1180px;
	height:983px;
	margin:44px auto;
}
#story .story2{
	margin-left:10px;
}
#story .story3{
	margin-top:10px;
}
/*地址选项卡*/

.posi{
	width:100%;
	overflow:hidden;
}
#posi{
	width:1180px;
	height:682px;
	background:pink;
	margin:100px auto;
	border-top:1px solid #000;
}
#posi .province{
	background:#fff;
	padding:15px 0;
	width:1180px;
	height:86px;
	/*background:orange;*/
	/*text-align:center;*/
	overflow:hidden;
	box-sizing:border-box;
}
#posi .province>div{
	height:100%;
	float:left;
}
#posi  .proleft{
	height:100%;
	width: 104px;
	line-height:50px;
	font-size:12px;
	color:#aaa;font-size:14px;
}
#posi .province .proright{
	height:50px;
	width:1065px;
	/*margin-top:10px;*/
}
#posi .province a{
	display:inline-block;
	width:64px;
	height:14px;
	text-align:center;
	/*font-size:14px;*/
}
#posi .store{
	background:#fff;
	width:1180px;
	height:51px;
	padding:0 0 15px;
	border-top:1px solid #aaa;
	/*box-sizing:border-box;*/
}
#posi .store .proleft{
	line-height:51px;
	float:left;
	font-size:14px;
}
#posi .store .storeright{
	float:left;
	width:1000px;
	height:51px;
	/*line-height:51px;*/
}
#posi .store a{
	display:inline-block;
	margin:0 20px;
	height:14px;
	line-height:30px;
	text-align:center;
}
#posi .wdleft{
	width:700px;
	height:530px;
	/*background:red;*/
}
#posi .worldmap{
	position:relative;
}
#posi .wddots{
	z-index:4;
	position:absolute;
	bottom:10px;
	left:280px;
}
#posi .wddots li{
	float:left;
	width:15px;
	height:15px;
	border-radius:50%;
	background:white;
	margin:10px;	
}
#posi .wdleft img{
	position:absolute;
}


#drnews{
	width:1180px;
	height:324px;
	margin:0 auto;
	overflow:hidden;
}
#drnews .newsleft{
	width:700px;
	border-top:1px solid #000;
}
#drnews dl{
	width:290px;
	height:268px;
	/*background:skyblue;*/
	float:left;
	margin:30px;
}
#drnews dt{
	font-size:12px;
	margin:30px 0;
}
#drnews dd{
	font-size:12px;
	margin:10px 0;
}
#drnews a{
	display:block;
	font-size:12px;
	margin:25px 0;
}

/*.ftout{
	width:100%;
	 background: #fdf2ec;
}*/

footer{
    height:342px;
    width:1180px;
   
    overflow: hidden;margin:0 auto;
}
.footer-last-in{
    height:100%;
    width:1180px;
    margin:0 auto;
}
.footer-last-p{
    height:60px;
    padding:21px 0px;
    
}
.footer-last-p a{
    display: block;
    height:60px;
    width:490px;
    margin:0 auto;
    background: url(../img/fot_consult.jpg) no-repeat;
}
.footer-last-ul{
    height:36px;
    width:100%;
    margin-left:300px;
}
.footer-last-ul li{
    float: left;
    margin-left:10px;
    height:36px;
    line-height: 36px;
}
.footer-last-ul li a{
    display:block;
    height:36px;
    line-height: 36px;
    padding:0 5px;
    color:#999;
}
.footer-last-ul li a:hover{
    color:red;
}
.footer-last-p1{
    height:36px;
    line-height:36px;
    text-align: center;
    color:#999;
}
.footer-last-p1 span{
    margin:0 10px;
}
.footer-last-dl dd{
    float: left;
    margin:0 5px;
}
.footer-last-dl{
    margin:40px 0 0 350px;
}
.gotop{
    height:40px;
    width:40px;
    position: fixed;
    right:15px;
    bottom:15px;
    background: url(../img/s_totop.jpg) no-repeat;
    background-position: 0 0 ;
}
.gotop:hover{
    background-position: -40px 0;
}
.cebian{
    height:340px;
    width:67px;
    position: fixed;
    z-index: 100;
    right:0;
    top:32%;
}
.cebian-tu{
    height:95px;
    width:88px;
    position: absolute;
    right:0;
    top:-94px;
    background: url(../img/img.png) no-repeat;
}
.cebian li{
    height:67px;
    width:67px;
    margin-bottom: 1px;
    background:#f6827a;
}
.cebian li a{
    display: block;
    height:100%;
    width:100%;
}
.cebian li img{
  
    height:100%;
    width:100%;
}
.cebian li img:hover{
    opacity: .9;
}
.xian{
    position: relative;
}
.yin{
    height:135px;
    width:206px;
    position: absolute;
    display: none;
    top:0;
    left:-207px;
}
.xian:hover .yin{
    display: block;
}